.add {
    width: 350px;
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add::placeholder {
    padding-left: 10px;
}

.icon {
    position: relative;
    right: 30px;
}

.display {
    display: grid;
    gap: 20px;
    margin: 20px;
    text-align: start;
}
.display div {
    width: 350px;
    height: 30px;
    border: 1px solid black;
    /* display: flex;
    justify-content: space-between; */
    background-color:gainsboro
}